/**************************************************************************************/
/*
/*    Designed by 'AS Designing'
/*    http://www.asdesigning.com
/*
/**************************************************************************************/

/**************************************************************************************/
/**************************************************************************************/
/*   Elements
/**************************************************************************************/
/**************************************************************************************/

/* 
* {padding:0; margin:0; border: 0px;}

html 
{
  height: 100%;
}

body
{
  background-color: #F6F6F6;
  background-image: url(../images/main_bg.gif);
  background-repeat: repeat-x;
  background-position: top;
  font-family: 'book antiqua', palatino;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: #3F3C38;
  text-align: left;
  vertical-align: top;
    overflow:scroll;
}

table
{
  width: 100%;
}

img
{
    border: 0;
    vertical-align: top;     
}

p
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;  
}

a
{
  text-decoration: none;
  color: #6D636B;
  outline-style: none;
}

a:hover
{
  color: #7eabae;
  border-bottom: 1px;
  border-style: solid;
}

ul
{
  list-style: none
}

li
{
  list-style: none;
}

form
{
  padding: 0px 0px 0px 0px;
}

fieldset 
{
  margin: 5px 0px 5px 0px;
  padding: 2px 0px 2px 0px;
}

input
{
  width: 217px;
  margin: 0px 5px 0px 0px;
  padding: 3px 3px 3px 3px;
  font-size: 11px;
  color: #666666;
  border: 1px;
  border-color: #DEDEDE;
  border-style: solid;
  vertical-align: bottom;
  background-color: #F6F6F6;
}

textarea
{
  width: 450px;
  margin: 2px 2px 10px 0px;
  padding: 2px 2px 2px 2px;
  font-size: 11px;
  border: 1px;
  border-color: #DEDEDE;
  border-style: solid;
  color: #666666;
  vertical-align: bottom;  
}

caption
{
}

label
{
  line-height: 18px;
    font-weight: normal;
}

/**************************************************************************************/
/**************************************************************************************/
/*   General Element IDs
/**************************************************************************************/
/**************************************************************************************/


/* 
#general
{
	width: 970px;
  margin-left: auto;
  margin-right: auto;
}*/

#companyname .img-responsive {
	margin: 0 auto;
}

#companyname
{
/*   float: left; */
/*   width: 955px; */
/*   height: 93px; */
/*   margin: 7px 0px 0px 15px; */
	
}

#companyname a
{
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
    
}

#companyname a:hover
{
    color: #922E0A;
  border: none;
}

#slogan
{

}

#adsense
{
}
 */

/**************************************************************************************/
/*   Main Menu
/**************************************************************************************/

/* 
#mainmenu
{
  float: left;
  width: 970px;
  height: 20px;
  margin: 20px 0px 0px 0px;
  text-align: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#mainmenu ul
{
  list-style: none;
}

#mainmenu li
{
  display: block;
}

#mainmenu a
{
  display: block;
  float: right;
  width: 120px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  color: #3F3C38;
}

#mainmenu a:hover
{
  color: #7eabae;
  border-style: none;
}

.menuinline {
  text-align: center;
}

.menuinline ul {
  list-style: circle outside none;
  text-align: center;
  margin-left: 0 auto;
  margin-right: auto;
  width: 970px;
}

.menuinline li {
  display: inline;
  margin: 10px;
  font-size:18px;
}
 */

/**************************************************************************************/
/*   Header
/**************************************************************************************/
/**************************************************************************************/

/* 
#header
{
  width: 970px;
  margin: 20px 0px 20px 0px;
  background-image: url(../images/headerbg.png);
  background-repeat: repeat-x;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5A5A5A;  
}

#headercontent
{
}
 */

/**************************************************************************************/
/*   Content
/**************************************************************************************/
/**************************************************************************************/

/* 
#content
{
  width: 970px;
}

#s5_quick_contact {
  margin-left: auto;
  margin-right: 0;
  width: 800px;
}
 */

/**************************************************************************************/
/*   Column Left
/**************************************************************************************/


/**************************************************************************************/
/*   Column Main 
/**************************************************************************************/
/* 
#colmain
{
  float:left;
  width: 680px;
  margin: 10px 0px 0px 0px;
  padding: 20px;
  text-align: justify;
  background-color: #F6F6F6;
  border: 1px;
  border-style: solid;
  border-color: #DEDEDE;
  display: block;
}

#colmain h1, 
#colmain h2, 
#colmain h3
{
  min-width: 50px;
  color: #3F3C38;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;  
  font-weight: bold;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 5px 40px;
  background-image: url(../images/headlinemain_bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#colmain p
{
  color: #3F3C38;
  font-weight: normal;
  text-align: justify;
  padding: 0px 50px 25px 0px;
}

#colmain ul
{
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
}

#colmain li 
{
  padding: 3px;
}

#colmain input
{
  float: left;
  width: 200px;
  background-color: #FFFFFF;
}

#colmain input[type="checkbox"],
#colmain input[type="radio"]
{
  float: left;
  width: 16px;
  height: 16px;
  border: none;
  background-color: #F6F6F6;
}

#colmain label
{
  float: left;
  width: 150px;
}

#colmain .txtblock
{
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
}

#colmain #article img
{
  margin: 0px 10px 10px 0px;
  padding: 0px 0px 0px 0px;  
}

#colmain .textblock
{
    margin: 20px 10px 0px 20px;
    padding: 0px 0px 0px 0px;
}

#colmain .writenby
{
  float: left;
  margin: 0px 30px 10px 0px;  
}

#colmain .readmore
{
  margin: 0px 0px 10px 0px;
}

#colmain button, 
#colmain .button
{
  margin: 25px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
    width: 200px;
    height: 25px;
    font-weight: bold;
  text-align: center;
  background-image: url(../images/btnoff_colmain.png);
  background-repeat: no-repeat;
  border: 1px;
  border-color: #5A5A5A;
  border-style: solid;  
}

#colmain button:hover, 
#colmain .button:hover
{
  cursor: pointer;
  background-image: url(../images/btnon_colmain.png);
  background-repeat: no-repeat;
  border: 1px;
  border-color: #BD3E0D;
  border-style: solid;  
}
 */

/**************************************************************************************/
/*   Column Right 
/**************************************************************************************/

/* 
#colright
{
  float: right;
  width: 225px;
  padding: 10px 0px 0px 20px;
}

#colright h1, 
#colright h2, 
#colright h3
{
  width: 225px;
  height: 30px;
  margin: 10px 0px 10px 0px;
  padding: 6px 0px 0px 10px;
  color: #F6F6F6;
  font-weight: bold;
  font-size: 13px;
  background-image: url(../images/headlineright_bg.png);
  background-repeat: no-repeat;
}

#colright h4,
#colright .bannerheader
{
  width: 225px;
  height: 25px;
  margin: 10px 0px 10px 0px;
  color: #3F3C38;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top;
}

#colright p 
{
  padding: 5px 0px 0px 0px;
}


#colright ul 
{
  padding: 0px 0px 0px 20px;
}

#colright li  
{
  padding: 3px 0px 3px 0px;
  list-style-image: url(../images/mark.png);
}

#colright a
{
  text-decoration: none;
  color: #6D636B;
    font-weight: normal;
  border-bottom: 1px;
  border-bottom-style: dotted;
  border-color: #6D636B;
}

#colright a:hover
{
  border: none;
  color: #922E0A;
    cursor: pointer;
}

#colright input[type="checkbox"],
#colright input[type="radio"]
{
  float: left;
  width: 15px;
  height: 15px;
  margin: 0px 5px 0px 0px;  
  border: none;
}

#colright .textblock
{
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

#colright button, 
#colright .button
{
  float: right;
    width: 120px;
    height: 23px;
  margin: 10px auto 0px 0px;
  background-image: url(../images/btnoff.png);
  background-repeat: no-repeat;
  border: 1px;
  border-color: #5A5A5A;
  border-style: solid;
}

#colright button:hover, 
#colright .button:hover
{
  cursor: pointer;
  background-image: url(../images/btnon.png);
  background-repeat: no-repeat;
  border: 1px;
  border-color: #BD3E0D;
  border-style: solid;
}
 */


/**************************************************************************************/
/**************************************************************************************/
/*   Footer
/**************************************************************************************/
/**************************************************************************************/

/* 
#footer
{  
  width: 970px;
  height: 45px;
  border-top: 3px;
  border-top-style: solid;
  border-color: #5A5A5A;
  margin: 30px 0px 50px 0px;
}

#footercontent
{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#footermenu
{
  float: right;  
  width: 600px;
  height: 25px;
  padding-top: 15px;
  text-align: left;
  color: #3F3C38;
  font-weight: bold;
  font-size: 11px;  
}

#footermenu a
{
  text-decoration: none;
  color: #6D636B;
  outline-style: none;
}

#footermenu a:hover
{
  color: #922E0A;
  border-bottom: 1px;
  border-style: dotted;
}

#footermenu ul 
{
  list-style: none;
  text-align: right;
}

#footermenu li
{
  display: inline;
    padding-right: 12px;  
}


#footermenu li a
{
  text-decoration: none;
  color: #6D636B;
  outline-style: none;
}

#footermenu li a:hover
{
  color: #922E0A;
  border-bottom: 1px;
  border-style: dotted;
}


#footertrademark
{
  float: left;
  width: 360px;
  height: 25px;
  padding: 15px 0px 15px 0px;
  text-align: left;
  color: #3F3C38;
  font-size: 11px;
  font-weight: bold;
}

#footertrademark #trade
{
  margin: 5px 0px 0px 0px;
}

#footertrademark a
{
  color: #6D636B;
  text-decoration: none;
}

#footertrademark a:hover
{
  border: none;
}
 */

/**************************************************************************************/
/*   General Classes
/**************************************************************************************/
/**************************************************************************************/

/* 
.alignleft
{
  text-align: left;
}

.alignright
{
  text-align: right;
}

.center
{
    padding: 10px;
    text-align: center;    
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.clear
{
  clear: both;
}

.spacer
{
  width: 1px;
  height: 40px;
}

.separator
{
  width: 1px;
  height: 20px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;  
}


.separator_10
{
  width: 1px;
  height: 1px;
  margin: 10px 10px 10px 10px;
  padding: 0px 0px 0px 0px;  
}

.separator_15
{
  width: 1px;
  height: 1px;
  margin: 15px 15px 15px 15px;
  padding: 0px 0px 0px 0px;  
}

.separatordotted_hor
{
  margin: 0px 0px 0px 0px;
  height: 1px;
  background-image: url(../images/sep_hor.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.separatordotted_ver
{
  margin: 0px 0px 0px 0px;
  width: 1px;
  background-image: url(../images/sep_ver.png);
  background-repeat: repeat-y;
  background-position: bottom;
}

.border 
{
}

.button, 
button
{
  padding: 0px 20px 0px 20px;
  margin: 10px 0px 0px 10px;
  height: 25px;
    width: 90px;
  font-size: 11px;
  font-weight: bold;
  color: #F6F6F6;
  outline-style: none;
}

.button:hover, 
button:hover
{
    color: #F6F6F6;
    cursor: pointer;
}

.label
{
    font-weight: bold;
}

.asterisk
{
  float: left;
  width: 10px;
  padding: 0px 0px 0px 3px;
  color: #922E0A;  
}

.moduletablecontact #s5_qc_security_img {
  display: inline;
}
 */